#product-list{
  list-style-type: none;
  width: fit-content;
}

#product-list li{
  background-color: white; /* Background color of the card */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Light shadow */
              0 6px 20px rgba(0, 0, 0, 0.1); /* Deeper shadow */
  padding: 20px; /* Space inside the card */
  margin: 20px; /* Space outside the card */
  transition: transform 0.2s;
}

#product-list li:hover{
  transform: translateY(-10px); /* Move the card up on hover */
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2), /* Stronger shadow on hover */
              0 17px 50px rgba(0, 0, 0, 0.1); /* Deeper shadow on hover */
}